.toolbar {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    background-color: #0D47A1;
}

.toolbar a, .toolbar a:hover {
    color: white;
}

.heading {
    color: #0D47A1;
}

.content {
    padding: 1rem 2rem 1rem 2rem !important;
}